<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrabalhoRestBLL.Properties.Settings.Bco_WebserviceWithRestConnectionString"
            connectionString="Data Source=s744;Initial Catalog=Bco_WebserviceWithRest;Persist Security Info=True;User ID=sa;Password=vm2Q8z8x"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>